body
{
	background: aqua;
} 
.main
{
	background: lightgreen;
	margin: 3%;
	display: flex;
	justify-content: space-around;
}
.left
{
	background: pink;
	margin: 4%;
	border-radius: 5%;
	text-align: center;
	box-shadow: 4px 4px 4px 4px;
	width: 20%;
	height: 60%;
}
.right{
	background: bisque;
	border-radius: 5%;
	box-shadow: 4px 4px 4px 4px;
	width: 45%;
	height: 95%;
	padding: 2%;
}
img
{
	width: 35%;
	height: 40%;
}